// 登录顶部
.logo-wp {
  margin-top: .67rem;
  width: 100%;
  text-align: center;
  margin-bottom: .67rem;

  .logo {

    border-radius: 100%;
    padding: 5px;

    width: 1.2rem;
    height: 1.2rem;
  }
  .title {
    color: #333;
    font-weight: normal;
    font-size: .73rem;
  }
}
